html, body{
  margin: 0;
  padding: 0;
}

.main{
  position: relative; /*background of website*/
  width: 100%;
  height: 100vh;
  background-color: orange;
  padding: 0;
}


.images{ /*formatting for images*/
  top: 0%;
  right: -80%;
  position: relative;
  display: inline-block
}

.images1 { /*formatting for images*/
  top: 17%;
  left: 1%;
  position: absolute;
  display: inline-block;
  color: white;
}

.homepage{
  display: flex;
  position: relative; /*background of website*/
  width: 100wh;
  height: 100vh;
  background: linear-gradient(90deg, rgba(91, 1, 85, 0.911) 25%, rgb(171, 1, 177) 55%, rgb(217, 118, 230) 100%); /*remove pink*/
  background-size: cover;
  padding: 0;
}

.box1{
    width: 36%; 
    height: 90vh; 
    top: 5%;
    left: 40%;
    position: absolute;
    background: #ffffff;
    background: linear-gradient(to right, rgb(255, 188, 188) 5%, #fcfbe9 90%);
    border-radius: 20px;
    

}
.box1:hover{
  width: 50%; 
  height: 90vh; 
  transition: 1s;
  box-shadow: 0 0 40px 30px rgba(0, 0, 0, 0.8);
  border-radius: 27px;
}


.signup{
position: relative;
width:100%;
height: 100%;
}

.signup label{
color: #290255;
font-size: 2.3em;
justify-content: center;
display: flex;
margin: 50px;
font-weight: bold;
cursor: pointer;

}
.signup input{
  color: #ffffff;
width: 60%;
height: 30px;
background: #27005a;
justify-content: center;
display: flex;
margin: 20px auto;
padding: 10px;
border: none;
outline: none;
border-radius: 5px;
}
.signup button{
width: 60%;
height: 40px;
margin: 10px auto;
justify-content: center;
display: block;
color: #ffffff;
background: #1f0452;
font-size: 1em;
font-weight: bold;
margin-top: 20px;
outline: none;
border: none;
border-radius: 5px;
}
.signup button:hover{
background: rgb(74, 0, 74)
}

.signup button a{
  text-decoration: none;
  color: white;
  font-family: none;
}



.box2{
  width: 45%; 
  height: 90vh; 
  top: 0%;
  left: -50%;
  position: absolute;
  background: #FFFDD0;
  background: linear-gradient(to left, rgb(255, 188, 188) 5%, #fcfbe9 90%);
  border-radius: 20px;
  

}
.box2:hover{
  width: -400%; 
  height: 90vh; 
  left: -50%;
  transition: 1s;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  
}

.login{
position: relative;
width:100%;
height: 100%;
}

.login label{
color: #290255;
font-size: 2.3em;
justify-content: center;
display: flex;
margin: 50px;
font-weight: bold;
cursor: pointer;
}


.login input{
  color: #ffffff;
width: 60%;
height: 30px;
background: #27005a;
justify-content: center;
display: flex;
margin: 20px auto;
padding: 10px;
border: none;
outline: none;
border-radius: 5px;
  text-decoration: none;
}
.login button{
width: 60%;
height: 40px;
margin: 10px auto;
justify-content: center;
display: block;
color: #ffffff;
background: #1f0452;
font-size: 1em;
font-weight: bold;
margin-top: 20px;
outline: none;
border: none;
border-radius: 5px;
font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
} 
.login button a{
  text-decoration: none;
  color: white;
}

.login button:hover{
background: rgb(78, 1, 78);
}

.login label{
color: #290255;
font-size: 2.3em;
justify-content: center;
display: flex;
margin: 50px;
font-weight: bold;
cursor: pointer;
position: relative;
text-align: center;
}


.sidebar{
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    top: 0;
    background: linear-gradient(black, white);
    transition: all .5s ease;
}
  .sidebar header{
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: black;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
  }
  .sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
  }
  a.active,a:hover{
    border-left: 5px solid rgb(71, 1, 71);
    color: rgb(136, 11, 136);
  }
  .sidebar a i{
    font-size: 23px;
    margin-right: 16px;
  }
  .sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    margin: 15px 30px;
    font-size: 29px;
    background: black;
    top: 5%;
    left: 2%;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
    text-decoration: none;
  }
  label #cancel{
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
  }
  @media(max-width : 860px){
    .sidebar{
      height: auto;
      width: 70px;
      left: 0;
      margin: 100px 0;
    }
    header,#btn,#cancel{
      display: none;
    }
    span{
      position: absolute;
      margin-left: 23px;
      opacity: 0;
      visibility: hidden;
    }
    .sidebar a{
      height: 60px;
    }
    .sidebar a i{
      margin-left: -10px;
    }
    a:hover {
      width: 200px;
      background: inherit;
    }
    .sidebar a:hover span{
      opacity: 1;
      visibility: visible;
    }
  }

.text h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    color: PaleGoldenRod;
    outline: none;
    text-align: center;
    position: relative;
    top: 50%;
    left: 37%;
}
  
  .text h1:hover {
    letter-spacing: 1px;
}

  
  


